@import '../../App';

.filters {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
}
.filter {
    margin: 10px;
    min-width: 150px;
    font-size: $base-text-size;
    label{
        margin-right: 10px; 
    }
}